<sw-header></sw-header>

<!--
<div *ngIf="randomValue>.5; else noDataBlock">
  <h1>
    {{message | uppercase}}
  </h1>
  <h2>{{55/7 | number:'1.3-3'}}</h2>
  <h3>{{today}}</h3>

</div>

<ng-template #noDataBlock>
  <div>
    No data found : {{randomValue}}

  </div>
</ng-template>
-->

<!-- <sw-spinner></sw-spinner> -->

<!-- <sw-looping></sw-looping> -->

<!-- <sw-greet></sw-greet> -->

<!-- <sw-discount></sw-discount> -->



<!-- <div class="container">

  {{ratingMessage}}
  <sw-star [rating]="3.5" (ratingClicked)="handelRatingClicked($event)"></sw-star>
  <hr>
  <sw-star [rating]="4" (ratingClicked)="handelRatingClicked($event)"></sw-star>

</div> -->

<!-- <div class="container">
  <sw-product-item></sw-product-item>
</div> -->

<!-- <sw-product-list></sw-product-list> -->

<!-- <sw-student></sw-student> -->

<!-- <div>
  <h1>Goal scored : {{(goalDetails|async)?.count}}</h1>
  <h1>At : {{(goalDetails|async)?.time | date:'h:mm:ss a'}}</h1>
</div> -->

<!-- <app-gallery></app-gallery> -->

<!-- <sw-twoway-binding></sw-twoway-binding> -->

<!-- <sw-twoway-binding2></sw-twoway-binding2> -->

<!-- <sw-login></sw-login> -->

<!-- <app-number-api></app-number-api> -->

<sw-foo-bar></sw-foo-bar>

<sw-foo-jaz></sw-foo-jaz>

<sw-footer></sw-footer>

