body {
  height: 97vh;
  overflow: hidden;
  margin-left: 0%;
  margin-top: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  background: linear-gradient(to bottom, #68eacc 0%, #497be8 100%);
}

.container {
  background: linear-gradient(to bottom, #cbf5f5 0%, #647eb6 100%);
  width: 500px;
  height: auto;
  margin: 60px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.startButton {
  background-color: #1aaf27; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 5px;
}

.startButton {
  transition-duration: 0.2s;
}

.startButton:hover {
  background-color: #0c6994; /* Green */
  color: white;
}

.ballButton {
  /* border-radius: 50%; */
  border-radius: 100%;
  border: none;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  outline: auto;
}
